@charset "utf-8";

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
 }
 
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, figure, label {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 18px;
  font-family: Nanum Barun Gothic, sans-serif;
}

body {
	font: normal 18px 'Roboto', 'Noto Sans KR'; 
	font-weight: 400;
	line-height: 1;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0;
  height: 100%;
}
* {box-sizing: border-box;}
b, strong {font-weight: 700;}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin: 0;
	padding: 0;
}
table {width: 100%; border-collapse: collapse;}
ul, ol {list-style:	none;}
a {color: #333; text-decoration: none;}
img {vertical-align: top;}
em {font-style: normal;}
i {font-style: normal;}
address {font-style: normal;}
button {outline: 0;}


blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
a,
button,
ul,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0.83em 0;
  padding: 0;
}
li {
  list-style: none;
}

input,
textarea {
  color: #fff;
  border-style: solid;
  border-color: #525252;
  border-width: 0.5px;
  border-radius: 3px;
  box-sizing: border-box;
  &::placeholder {
      color: #4d4d4d;
  }
  &:hover,
  &:focus {
      outline: none;
      border-color: #ababab;
  }
}
textarea {
  resize: none;
}

.underline {
  text-decoration: underline;
}
.f1itmfnm{
  position: relative;
  height: 70px;
}

.h_inner{
  position: fixed;
  width: 100%;
  height: 69px;
  margin: 0 auto;
  left: 0px;
  top: 0px;
  box-sizing: content-box;
  border-bottom: 1px solid #d6d6d6;
  background-color: #fff;
  z-index: 30;
}

/* 해더 */
.f1g9a9nk .h_w {
  max-width: 1168px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.logo_area{
  width: 233px;
  float: left;
  text-align: left;
}

@media screen and (max-width:1200px) {
  .logo_area {
    width: 212px;
    margin-left: 10px;
  }
}

.logo_inner{
  display: inline-block;
  width: 186px;
  height: 21px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu{
  position: relative;
  display: block;
  float: left;
  height: 100%;
}

@media screen and (max-width:1024px) {
  .menu{
    display: none;
  }
}

.menu ul{
  display: flex;
  align-items: center;
  gap: 38px;
  height: 100%;
  vertical-align: middle;
}

@media screen and (max-width:1200px) {
  .menu ul{
    gap: 22px
  }
}
.menu ul li span{
  color: #000;
  font-size: 15px;
  transition: all 0.3s;
}

.menu ul li span:hover{
  color: #4AB56A;
}

.right_area{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 18px;
}

@media screen and (max-width:1200px) {
  .right_area{
    right: 10px;
  }
}

.f1ope6py{
  position: relative;
  font-size: 12px;
  text-align: center;
  color: #4AB56A;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 3px;
}

@media screen and (max-width:1024px) {
  .f1ope6py{
    display: none;
  }
}

.fji9w6g {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  vertical-align: middle;
}

@media screen and (max-width:1024px) {
  .fji9w6g{
    display: none;
  }
}

.fji9w6g .btn_login {
  background: #252525;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: top;
  width: 77px;
}

.from{
  position: relative;
  width: 100%;
}

.srch{
  position: relative;
}

.srch button{
  background: transparent;
  border: none;
  display: inline-block;
  position: absolute;
  right: 7px;
  top: 5px;
}

.srch input{
  position: relative;
  padding: 6px 11px;
  font-size: 15px;
  border: 1px solid #cbcbcb;
  color: #000;
}

.srch span.material-symbols-outlined{
  cursor: pointer;
  opacity: 0.7
}

/* 컨탠츠1 - 아이콘 */
._9kwSe9Eq-HNFnX84J40BL > ._1VoVsJajGRahTYjVDVVWdD {
  max-width: 1168px;
  height: 200px;
  margin: 0 auto;
}

/* 컨탠츠 */
.banner_wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.banner_wrap ul{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 0.5s ease;
}

.banner_wrap ul li {
  min-width: 100%;
}

.banner_wrap ul li img{
  width: 100%;
  display: block;
}

#banner{
  display: flex;
  transition: transform 0.5s ease;
}

#banner li {
  min-width: 100%; 
  cursor: pointer;
}

/* 네비게이션 이미지 버튼 스타일 */
.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; 
}

.nav-prev, .nav-next {
  width: 86px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  pointer-events: all; 
}

.nav-prev {
  background-image: url('../public/slider_btn.png'); 
  transform: rotate(-90deg);
  margin-left: 10px;
  background-color: transparent;
  background-size: cover;
}

.nav-next {
  background-image: url('../public/slider_btn.png'); 
  transform: rotate(90deg);
  margin-left: 10px;
  background-color: transparent;
  background-size: cover;
}

/* 페이지네이션 버튼 스타일 */
.pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.page-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.page-btn.active {
  background-color: white;
}

.page-btn {
  background-color: rgba(169, 169, 169, 0.7); 
}

/* cont1 시작 */
.cont1{
  display: block;
  height: 100%;
  padding: 47px 0;
}

.cont_wrap {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0;
}

.cont_wrap ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cont_wrap li{
  width: 16.66666667%;
  height: 100%;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  transition: transform 0.2s ease-in-out;
}

@media screen and (max-width:768px) {
  .cont1 .cont_wrap li{
    max-width: 70px;
    width: 100%;
  }
}

.cont1 .cont_wrap ul li:hover{
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}

@media screen and (max-width:768px) {
  .cont1 .cont_wrap ul li img{
    max-width: 50px;
    width: 1005;
  }
}

.cont_wrap ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  color: #666;
}

.list-naem{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #666;
}

@media screen and (max-width:1024px) {
  .list-naem{
    font-size: 14px;
  }
}

@media screen and (max-width:768px) {
  .list-naem{
    display: none;
  }
}

/* cont2 시작 */
.blind{
  position: absolute;
  text-indent: -9999px;
  z-index: 0;
}

.cont2{
  min-height: 370px;
  background: linear-gradient(135deg, #f0f0f0 0%, #cccccc 100%);
}

.cont2 ul li {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  width: 260px;
}

.cont2 .cont_wrap {
  max-width: 1168px;
  height: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.cont2 .cont_wrap ul {
  gap: 25px;
}

.cont2 .cont_wrap ul  li {
  background-color: white;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 2px 4px rgba(0, 0, 0, 0.06); 
  transition: box-shadow 0.3s ease; 
}

.cont2 .cont_wrap ul li:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.cont2 ul li .back1img{
  background: url(../public/item2.png) no-repeat;
  max-width: 260px;
  height: 148px;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s ease; 
}

.cont2 ul li:nth-child(3) .back1img{
  background: url(../public/item1.png) no-repeat;
  max-width: 260px;
  height: 148px;
  width: 100%;
  background-size: contain;
  background-position: center;
  transition: filter 0.3s ease; 
}

.cont2 .area{
  display: block;
  padding: 0 15px 15px;
} 

.cont2 ul li .title{
  width: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  text-align: left;
  color: #000;
}

.smail_title{
  display: block;
  margin-top: 5px;
  font-size: 12px;
  line-height: 18px;
  color: #9e9e9e;
}

.view{
  display: block;
  width: 85%;
  margin: 10px auto;
  padding: 10px 0 8px;
  background-color: #fff;
}

.view a{
  display: block;
  text-align: center;
  font-size: 15px;
}

@media screen and (min-width: 1169px) {
  .view{
      width: 1100px;
  }
}

/* footer 시작 */
footer{
  margin-top: 20px;
}

.footer_inner{
  display: block;
  height: 90px;
  margin: 0 auto;
  max-width: 1168px;
  text-align: center;
}

.footer_inner ul{
  max-width: 583px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width:768px) {
  .footer_inner ul{
    max-width: inherit;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.footer_inner ul li{
  position: relative;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width:768px) {
  .footer_inner ul li{
    padding: 0 11px;
  }
}

.footer_inner ul li a{
  display: block;
  width: 100%;
  height: 100%;
  color: #444;
}

.bold{
  font-weight: bold;
}
@media screen and (max-width:1024px) {
  .footer_inner ul li:nth-child(1) {
    display: none;
  }
  .footer_inner ul li:nth-child(2) {
    display: none;
  }
  .footer_inner ul li:nth-child(3) {
    display: none;
  }
}

.footer_inner ul li span {
  position: relative;
}

.footer_inner ul li span::after{
  content: "";
  clear: both;
  position: absolute;
  right: -8px;
  height: 17px;
  width: 1px;
  background-color: #c0c0c0;
}

.footer_inner ul li:last-child span::after {
  display: none;
}

.footer_inner .copyright {
  margin-top: 10px;
  font-size: 12px;
}